swagger: "2.0"
info:
  title: "Amadeus Travel Innovation Sandbox"
  version: "1.2"
  contact:
    name: Amadeus Innovation and Research
    url: "https://sandbox.amadeus.com"
  license:
    name: Amadeus Travel Innovation Sandbox License
    url: "https://sandbox.amadeus.com/terms-use"
host: api.sandbox.amadeus.com
basePath: /v1.2
schemes:
  - https
produces:
  - application/json
paths:
  /flights/inspiration-search:
    get:
      operationId: Flight Inspiration Search
      summary: Flight Inspiration Search - Go beyond the traditional search by origin, destination and dates to meet the needs of travelers looking for suggestions and a search experience that reflects the way they choose their trip. This can help you answer the question "Where can I go within a given travel budget?" 
      description: |
        <p>The Inspiration Flight Search allows you to find the prices of one-way and return flights from an origin city without necessarily having a destination, or even a flight date, in mind. The search doesn't return a distinct set of price options, but rather, can tell you the price of flying from a given city to some destination, for a trip of a given duration, that falls within a given date range.</p>

        <p>The search is based on our Extreme Search platform, which continually caches a large number of flight search results from a list of origin cities to a variety of destinations. Since it's a cached search, the response time is fast, but not all origin airports are available. Here is <a href="https://github.com/amadeus-travel-innovation-sandbox/sandbox-content/blob/master/flight-search-cache-origin-destination.csv">a list of the currently supported origin-destination IATA location pairs</a>. We try to keep this list as fresh as possible for you, but be aware that it may not always be exactly up-to-date and it can change without warning.</p>

        <p>Despite this limitation don't underestimate the power of this API. Thanks to its quick response speed you can easily pair it with other APIs to provide a low fare and inspiration for any destination. For example, you can could combine it with a event search API and suggest a total price to see go and see an concert or a game in a selection of cities.</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: origin
          in: query
          description: <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA code</a> of the city from which the traveler will depart. See the location and airport interfaces for more information.
          required: true
          type: string
          default: "NYC"
        - name: destination
          in: query
          description:  <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA code</a> of the city to which the traveler is going 
          required: false
          type: string
          default: "LAX"
        - name: departure_date
          in: query
          description: Range of dates between which the traveler could depart. Dates are specified in the <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</a> yyyy-MM-dd date format. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single date is specified, only that date will be searched. By default, the date range starts today and applies up to 361 in the future is applied. Past dates are generally not supported, future dates should be in the next 361 days, although results start to become sparse after about 6 months in the future, as airlines may still be defining their schedules. The default is to search all future dates available.
          required: false
          type: string
          default: "2017-08-16--2017-08-26"
        - name: one-way
          in: query
          required: false
          type: boolean
          default: false
          description: When set to true, the query will be for a single trip from the origin to the destination. When this parameter is not provided, or is set to false, the query is for a round trip from the origin to the destination and back again.
        - name: duration
          in: query
          description: The allowed duration or range of durations of the trip, in days. This parameter must not be set if the one-way parameter is set to true.
          required: false
          type: string
          default: "1--15"
        - name: direct
          in: query
          description: Limit the search to results that do not require the passenger to change plane?
          required: false
          type: boolean
          default: false
        - name: max_price
          in: query
          description: "Maximum price of trips to find in the result set, in the currency specified for this origin and destination pair in the cache contents spreadsheet. So, for example, if the origin is NYC, and the max price is 400, this means 400 USD. If the origin is PAR, and the max price is 400, this means 400 EUR. By default, no limit is applied"
          required: false
          type: string
          format: Integer
        - name: aggregation_mode
          in: query
          description: "Specifies the granularity of results to be found. DESTINATION is the default and finds one result per city. COUNTRY finds one result per country, DAY finds on result for every day in the date range, WEEK finds one result for every week in the date range. Note that specifying a small granularity but a large search scope may result in a huge output. For some very large outputs, the API may refuse to provide a result."
          required: false
          type: string
      responses:
        200:
          description: Valid Search Response
          schema:
            $ref: "#/definitions/ExtremeSearchResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"          
  /flights/extensive-search:
    get:
      operationId: Flight Extensive Search
      summary: Flight Extensive Search - Build travel searches based on very flexible and open range of dates. You can use it to answer questions such as "When is the best date to fly...".  It's built on Amadeus' Featured Results technology, which returns thousands of results (prices, itineraries and dates) in a matter of milliseconds. Results are available over half a calendar year with a 1 to 15 day stay duration
      description: |
        <p>The Extensive Flight Search allows you to find the prices of one-way or return flights between two airports over a large number of dates, and for a large variety of stay durations. The search doesn't return exact itineraries, but rather tells you the best price for a flight on a given day, for a stay of a given duration.</p>

        <p>The search is based on our Extreme Search platform, which continually caches a large number of flight search results from a list of origin cities to a variety of destinations. Since it's a cached search, the response time is fast, but not all origin airports are available. Here is <a href="https://github.com/amadeus-travel-innovation-sandbox/sandbox-content/blob/master/flight-search-cache-origin-destination.csv">a list of the currently supported origin-destination IATA location pairs</a>. We try to keep this list as fresh as possible for you, but be aware that it may not always be exactly up-to-date and it can change without warning.</p>

        <p>That said, a price graph like this provides a powerful bargin shopping tool - allowing travelers with flexible itineraries to identify days on which they can get the cheapest flights to their destinations.</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: origin
          in: query
          description: <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA code</a> of the city from which the traveler will depart. See the location and airport interfaces for more information.
          required: true
          type: string
          default: "FRA"
        - name: destination
          in: query
          description:  <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA code</a> of the city to which the traveler is going 
          required: true
          type: string
          default: "LON"
        - name: departure_date
          in: query
          description: |
             Range of dates between which the traveler could depart. Dates are specified in the <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</a> yyyy-MM-dd date format. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single date is specified, only that date will be searched. By default, the date range starts today and applies up to 361 in the future is applied. Past dates are generally not supported, future dates should be in the next 361 days, although results start to become sparse after about 6 months in the future, as airlines may still be defining their schedules. The default is to search all future dates available. 
          required: false
          type: string
          default: "2017-08-16--2017-08-26"
        - name: one-way
          in: query
          required: false
          type: boolean
          default: false
          description: When set to true, the query will be for a single trip from the origin to the destination. When this parameter is not provided, or is set to false, the query is for a round trip from the origin to the destination and back again.
        - name: duration
          in: query
          description: The allowed duration or range of durations of the trip, in days. This parameter must not be set if the one-way parameter is set to true.
          required: false
          type: string
          default: "1--15"
        - name: direct
          in: query
          description: Limit the search to results that do not require the passenger to change plane?
          required: false
          type: boolean
          default: false
        - name: max_price
          in: query
          description: "Maximum price of trips to find in the result set, in the currency specified for this origin and destination pair in the cache contents spreadsheet. So, for example, if the origin is NYC, and the max price is 400, this means 400 USD. If the origin is PAR, and the max price is 400, this means 400 EUR. By default, no limit is applied"
          required: false
          type: string
          default: "950"
        - name: aggregation_mode
          in: query
          description: "Specifies the granularity of results to be found. DAY is the default when one-way is true finds a result for departure date in the date range. STAY is the default otherwise and finds all round trip permutations for this route withim the given date range. DESTINATION finds one result, only the cheapest price for this route over the provided date range. WEEK finds the cheapest result for every week in the date range. Note that specifying a small granularity but a large search scope may result in a huge output. For some very large outputs, the API may refuse to provide a result."
          required: false
          type: string
          default: "DAY"
      responses:
        200:
          description: Valid Search Response
          schema:
            $ref: "#/definitions/ExtremeSearchResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"          
  /flights/low-fare-search:
    get:
      operationId: Flight Low-Fare Search   
      summary: Flight Low-Fare Search - Find the cheapest one way or return itineraries and fares between two airports at specific dates.
      description: |
          <p>This is the low fare search engine Amadeus uses to retrieve the best price for flights, based on our latest Master Pricer Travel Board technology. This document describes how to make a low fare search and how to handle the returned messages.</p>
          
          <p>The message is composed of multiple results for given request. A result is defined by a unique combination of price, tax, passenger type, fare type, cabin, and availability for each requested segment.</p> 
          
          <p>A result is then composed of single or multiple itineraries. Each itinerary is composed of an outbound leg, and, if a return date was specified, an inbound leg. Each leg is composed of a list of one or more flights, that the traveller will be required to take in order to get from the origin airport to the destination airport.</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: origin
          in: query
          description: City code from which the traveler will depart. See the location and airport interfaces for more information.
          required: true
          type: string
          default: "BOS"
        - name: destination
          in: query
          description: <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA code</a> of the city to which the traveler is going 
          required: true
          type: string
          default: "LON"
        - name: departure_date
          in: query
          description: The date on which the traveler will depart from the origin to go to the destination. You can specify a date range of up to 2 days. For a larger date range, use the Extensive Search. Dates are specified in the <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</a> yyyy-MM-dd date format and separated by --.
          required: true
          format: string
          type: string
          default: "2017-08-25"
        - name: return_date
          in: query
          description: The date on which the traveler will depart from the destination to return to the origin. If this parameter is not specified, the search will find only one-way trips. If this, or the return_by parameter are specified, only return trips are found. You can specify a date range of up to 2 days.
          required: false
          type: string
          default: "2017-08-28"
        - name: arrive_by
          in: query
          description: The datetime by which the outbound flight should arrive, based on local time at the destination airport.  Date-times are specified in the <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</a> yyyy-MM-ddTHH:mm date format
          required: false
          type: string
          default: "2017-08-25T16:00"
        - name: return_by
          in: query
          description: The time by which the inbound flight should arrive, based on local time at the airport specified as the origin parameter
          required: false
          type: string
          default: "2017-08-28T08:00"
        - name: adults
          in: query
          description: "The number of adult (age 12 and over) passengers traveling on this flight."
          required: false
          type: integer
          default: 1
        - name: children
          in: query
          description: "The number of child (younger than age 12 on date of departure) passengers traveling on this flight who will each have their own separate seat"
          required: false
          type: integer
          default: 0
        - name: infants
          in: query
          description: "The number of infant (younger than age 2 on date of departure) passengers traveling on this flight. Infants travel in the lap of an adult passenger, and thus the number of infants must not exceed the number of adults."
          required: false
          type: integer
          default: 0
        - name: include_airlines
          in: query
          description: If specified, all results will include at least one flight where one or more of these airlines is the marketing carrier. This behaves as an OR function. Airlines are specified using <a href="https://en.wikipedia.org/wiki/Airline_codes"><a href="https://en.wikipedia.org/wiki/Airline_codes">IATA airline code</a>s</a>.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: exclude_airlines
          in: query
          description: If specified, no results will include any flights where any of these airlines is the marketing carrier. Airlines are specified using <a href="https://en.wikipedia.org/wiki/Airline_codes"><a href="https://en.wikipedia.org/wiki/Airline_codes">IATA airline code</a>s</a>.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: nonstop
          in: query
          description: Setting this to true will find only flights that do not require the passenger to change from one flight to another
          required: false
          type: boolean
          default: false
        - name: max_price
          in: query
          description: "Maximum price of trips to find in the result set, in USD (US dollars) unless some other currency code is specified. By default, no limit is applied"
          required: false
          type: integer
          default: 980
        - name: currency
          in: query
          description: The preferred <a href="https://en.wikipedia.org/wiki/ISO_4217">currency</a> for the results
          required: false
          type: string
          default: "USD"
        - name: travel_class
          in: query
          description: "Searches for results where the majority of the itinerary flight time should be in a the specified cabin class or higher"
          required: false
          type: string
          default: "ECONOMY"
        - name: number_of_results
          in: query
          description: "The number of results to display. This will not be strictly interpreted but used as a guideline to display a useful number of results. By default, the number of results is dynamically determined. A maximum of 250 results will be displayed."
          required: false
          type: integer
          default: 5
      responses:
        200:
          description: Valid Search Response
          schema:
            $ref: "#/definitions/LowFareSearchResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"
  /flights/affiliate-search:
    get:
      operationId: Flight Affiliate Search   
      summary: Flight Affiliate Search - Use Travel Audience Connect's affiliate network API to search flights from our list of partners and provides deep-links to allow the user to book directly on the airline website.
      description: |
          <p>The Flight Affiliate Search API combines Amadeus' flight search technology with Travel Audience's Connect API partners to provide a unique flight search, where all results come with deep-links to book the flight at a partner's website. The API will let you easily provide the traveler with a path to book flights from your application.</p>
          <p>Travel Audience Connect partners include
          <ul>
            <li><a href="http://www.cityjet.com/">CityJet</a>, <a href="https://www.aireuropa.com/en/flights">Air Europa</a> and <a href="http://www.flytap.com/">TAP</a> in Western Europe,</li>
            <li><a href="http://uralairlines.com/">Ural Airlines</a> in Russia, </li>
            <li><a href="http://www.avianca.com.br/">Avianca Brazil</a>  and</li>
            <li><a href="http://www.jal.com/">JAL</a> in East Asia</li>
          </ul>
          </p>
          <p>Only Travel Audience Connect partner airlines are searched. For an up-to-date list of routes, see the route maps on each partners respective websites above. You can earn commission using the deep links provided in the search results if you sign up for an account at <a href="http://connect.travelaudience.com/">connect.travelaudience.com</a>.</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: origin
          in: query
          description: City code from which the traveler will depart. See the location and airport interfaces for more information.
          required: true
          type: string
          default: "LON"
        - name: destination
          in: query
          description:  <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA code</a> of the city to which the traveler is going 
          required: true
          type: string
          default: "DUB"
        - name: departure_date
          in: query
          description: "The date on which the traveler will depart from the origin to go to the destination. The maximum scope for a date range is 2 days, for a larger scope, use the Extensive Search! "
          required: true
          type: string
          default: "2017-08-25"
        - name: return_date
          in: query
          description: "The date on which the traveler will depart from the destination to return to the origin. If this parameter is not specified, the search will find only one-way trips. If this, or the return_by parameter are specified, only return trips are found"
          required: false
          type: string
          default: "2017-08-28"
        - name: adults
          in: query
          description: "The number of adult (age 12 and over) passengers traveling on this flight."
          required: false
          type: integer
          default: 1
        - name: children
          in: query
          description: "The number of child (younger than age 12 on date of departure) passengers traveling on this flight who will each have their own separate seat"
          required: false
          type: integer
          default: 0
        - name: infants
          in: query
          description: "The number of infant (younger than age 2 on date of departure) passengers traveling on this flight. Infants travel in the lap of an adult passenger, and thus the number of infants must not exceed the number of adults."
          required: false
          type: integer
          default: 0
        - name: include_merchants
          in: query
          description: If specified, all results will include at least one flight where one or more of these airlines is the marketing carrier. Airlines are specified using <a href="https://en.wikipedia.org/wiki/Airline_codes"><a href="https://en.wikipedia.org/wiki/Airline_codes">IATA airline code</a>s</a>
          required: false          
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: exclude_merchants
          in: query
          description: If specified, no results will include any flights where any of these airlines is the marketing carrier. Airlines are specified using <a href="https://en.wikipedia.org/wiki/Airline_codes"><a href="https://en.wikipedia.org/wiki/Airline_codes">IATA airline code</a>s</a>
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: max_price
          in: query
          description: "Maximum price of trips to find in the result set, in USD (US dollars) unless some other currency code is specified. By default, no limit is applied"
          required: false
          type: integer
          default: 980
        - name: currency
          in: query
          description: The preferred <a href="https://en.wikipedia.org/wiki/ISO_4217">currency</a> for the results
          required: false
          type: string
          default: "EUR"
        - name: mobile
          in: query
          description: "Setting this to true will show mobile web deeplinks "
          required: false
          type: boolean
          default: false
      responses:
        200:
          description: Valid Search Response
          schema:
            $ref: "#/definitions/AffiliateSearchResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"         
  /location/{code}:
    get:
      operationId: Location Information
      summary: Location Information - Find more information about any IATA city or airport location code. With this API, you can find information such as city and airport names and locations, as well as information on timezones and airport usage.
      description: |
        <p>This service retrieves the location information corresponding to a IATA city or airport code.</p>
      
        <p>When provided with an <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA code</a>, the service determines whether this code could relate to a city code, an airport code or both. If the city could contain multiple airports, it will return all possible airports that correspond to that city code.</p>

        <p>This API is based on the Amadeus supported <a href="http://opentraveldata.github.io/geobases">Geobases</a> open-source project. If you wish to make your own database with all IATA location information, in order to get faster reponses, you can download the latest raw data from their <a href="https://github.com/opentraveldata/opentraveldata/blob/master/opentraveldata/optd_por_public.csv">github page</a>.</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: code
          in: path
          description: IATA location code for which further information is required
          required: true
          type: string
          default: BOS
      responses:
        200:
          description: Valid Location lookup Response
          schema:
            $ref: "#/definitions/LocationResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"
  /airports/autocomplete:
    get:
      operationId: Airport Autocomplete
      summary: Airport Autocomplete - Find an IATA location code for flight search based on a city or airport name using the term parameter. By only using the country parameter, this API is also able to find all the IATA location codes associated with a country. Both term and country parameters can be used together to filter the results accordingly. The API is fully JQuery-Autocomplete compatible to enable you to quickly build a drop-down list for your users to find the right airport easily. 
      description: |
        <p>Using the term parameter and given the start of any word in an airport's official name, a city name, or the start of an <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA code</a>, this API provides the full name and IATA location code of the city or airport, for use in flight searches. Only major cities and civilian airports with several commercial flights per week are included by default. The response provides up to 20 possible matches, sorted by importance, in a <a href="http://jqueryui.com/autocomplete/">JQuery UI Autocomplete</a> compatible format. <a href="https://github.com/amadeus-travel-innovation-sandbox/sandbox-content/blob/master/airport-autocomplete-template.html">This sample implementation</a> using JQuery UI may help. This API uses data from the <a href="https://github.com/opentraveldata/opentraveldata/blob/master/opentraveldata/optd_por_public.csv">OpenTravelData</a> project.
        </p> 
        <p>By only using the country parameter, this API is also able to find all the IATA location codes associated with a country. Both term and country parameters can be used together to filter the results accordingly.          
        </p>
        <p>The value returned is the IATA location code. The label returned is always in UTF-8 format, with the airport official name (which is often in the native language), in the format of English City Name (if not already included in the airport name).</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: term
          in: query
          description: Search keyword that should represent the start of a word in a city or airport name.
          required: true
          type: string
          default: "Ban"
        - name: country
          in: query
          description: Identified a country based of a <a href="https://en.wikipedia.org/wiki/ISO_3166-2#Current_codes">ISO 3166-1 alpha-2 code</a>
          required: false
          type: string
          default: "US"
        - name: all_airports
          in: query
          description: Boolean to include or not all airports, no matter their traffic rank. False by default, to only display relevant airports.
          required: false
          type: boolean
          default: false
      responses:
        200:
          description: Valid Search Response
          schema:
            type: array
            items:
              $ref: "#/definitions/AirportAutocompleteResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"
  /airports/nearest-relevant:
    get:
      operationId: Nearest Relevant Airport
      summary: Nearest Relevant Airport - Find the most useful nearby airport to a given location.
      description: |
        <p>This service gives the most relevant airports in a radius of 500 km around the given coordinates. The relevance of an airport is computed by dividing the number of airport movements (take offs and landings) by the distance from the point. This causes the relevance of an airport to increase exponentially as you approach it.</p>

        <p>To minimize response time, all distances are computed as a <a href="http://en.wikipedia.org/wiki/Great-circle_distance">great-circle distance</a> from the provided coordinates to the airport coordinates, and thus do not take into account traffic conditions, international boundaries, mountains, water, or other elements that might make the a nearby airport hard to reach.</p>

        <p>Only civilian airports with at least several commercial flights per week are included in the results.</p>

        <p>The result is a list of airports sorted by decreasing relevance. It always contains the nearest airport with significant commercial traffic. You can freely download the <a href="https://github.com/opentraveldata/opentraveldata/blob/master/opentraveldata/optd_por_public.csv">point of reference information</a> used by this API from the <a href="https://github.com/opentraveldata/opentraveldata">Open Travel Data</a> project.</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: latitude
          in: query
          description: Latitude location to be at the center of your search circle.
          required: true
          type: string
          default: "46.6734"
        - name: longitude
          in: query
          description: Longitude location to be at the center of your search circle.
          required: true
          type: string
          default: "-71.7412"
      responses:
        200:
          description: Valid Search Response
          schema:
              type: array
              items:
                $ref: "#/definitions/NearestAirport"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"
  /hotels/search-airport:
    get:
      operationId: Hotel Airport Search
      summary: Hotel Airport Search - Locate the cheapest available rooms near a given airport, for a given stay period. This API is ideal if you want to connect flight and hotels. Provide an IATA airport code, as well as the check-in and check-out dates, and get a list of up to 140 properties (names, codes, image, amenities) with their locations and rates. Optional parameters such as currency and maximum rates, amenities or hotel chain codes are also available and can be used to narrow down the results. More optional parameters such as show_sold_out & rooms can be used to show sold out rooms and all available rooms. 
      description: |
        <p>A fast Hotel shopping API to see which hotels are available in a given area, on a given day and displays their lowest prices. With this API you can find out the price of the cheapest daily rate for all hotels near a given airport.</p>
    
        <p>This API allows you to quickly see the locations of hotels near a given airport, and what prices in that area look like. Note that hotel images are not available to users outside of Amadeus, as we are not licensed to redistribute them. The API is based on our high-speed hotel pricing cache, which is also used to power the <a href="https://hotelsearchengine.amadeus.com/">Amadeus Hotel Search Engine</a> application. Results are returned very quickly, response times are generally under 2s. Our cache has great global coverage and is constantly refreshed with the latest prices.</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: location
          in: query
          description: <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA airport code</a> for hotel availability is required requested.
          required: true
          type: string
          default: "BOS"
        - name: check_in
          in: query
          description: "Date on which the guest will begin their stay in the hotel. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date."
          required: true
          type: string
          default: "2017-08-15"
        - name: check_out
          in: query
          description: "Date on which the guest will end their stay in the hotel."
          required: true
          type: string
          default: "2017-08-16"
        - name: radius
          in: query
          description: Radius around the center to look for hotels in kilometers (km).
          required: false
          type: integer
          default: 42
        - name: lang
          in: query
          description: "The preferred language of the content related to each hotel. Content will be returned in this language if available."
          required: false
          type: string
          default: "EN"
        - name: currency
          in: query
          description: The preferred <a href="https://en.wikipedia.org/wiki/ISO_4217">currency</a> for the results
          required: false
          type: string
          default: "USD"
        - name: chain
          in: query
          description: "Narrows the hotel search to a given hotel provider. The hotel chain is indicated by the first two characters of the property code."
          required: false
          type: string
          default: "6C"
        - name: max_rate
          in: query
          description: "The maximum amount per night that any hotel in the shopping response should cost. This is calculated by dividing the total price of the stay for the given dates by the number of nights specified falling between the check_in and check_out dates."
          required: false
          type: number
          default: 500
        - name: number_of_results
          in: query
          description: "The maximum number of hotels to return in the results set. Hotels are ordered by total price, so if more than the given maximum number of hotels are available, only the cheapest options are returned."
          required: false
          type: integer
          default: 20
        - name: all_rooms
          in: query
          description: "This option if enabled will return all hotel room rates, not just the lowest room rate. Note: This will have an impact on the response time due to the larger messages returned."
          required: false
          type: boolean
          default: false
        - name: show_sold_out
          in: query
          description: This option if enabled will return hotel names and addresses even if rooms are sold out (closed properties)
          required: false
          type: boolean
          default: false
        - name: amenity
          in: query
          description: |
            Hotel <a href="hotels-api-supported-amenities-filter">amenities filter</a> to search narrow down hotels with certain amenities. For example&colon; amenity=POOL. (Note: multiple amenities can be used in searches: amenity=PARKING&amenity=RESTAURANT&amenity=PETS_ALLOWED).
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
      responses:
        200:
          description: Valid Search Response
          schema:
            $ref: "#/definitions/HotelSearchResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"
  /hotels/search-circle:
    get:
      operationId: Hotel Geosearch by circle
      summary: Hotel Geosearch by Circle API - Locate the cheapest available rooms within a given radius of a defined point for a given stay period.
      description: | 
        <p>A fast Hotel shopping API to see which hotels are available in a given area, on a given day and displays their lowest prices. With this API you can find out the price of the cheapest daily rate for all hotels within a specified radius of a point.</p>
      
        <p>This API allows you to quickly see the hotel locations in a region, and what prices in that area look like,  as well as the check-in and check-out dates, and get list of up to 140 properties (names, codes, image, amenities) with their locations and rates. Optional parameters such as currency and maximum rates, amenities or hotel chain codes are also available and can be used to narrow down the results. More optional parameters such as show_sold_out & rooms can be used to show sold out rooms and all available rooms. </p>
    
        <p>The API is based on our high-speed hotel pricing cache, which is also used to power the <a href="https://hotelsearchengine.amadeus.com/">Amadeus Hotel Search Engine</a> application. Results are returned very quickly, response times are generally under 2s. Our cache has great global coverage and is constantly refreshed with the latest prices.</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: latitude
          in: query
          description: Latitude of the center of the search.
          required: true
          type: number
          default: 36.0857
        - name: longitude
          in: query
          description: Longitude of the center of the search.
          required: true
          type: number
          default: -115.1541
        - name: radius
          in: query
          description: Radius around the center to look for hotels in kilometers (km).
          required: true
          type: integer
          default: 42
        - name: check_in
          in: query
          description: "Date on which the guest will begin their stay in the hotel. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date."
          required: true
          type: string
          default: "2017-08-15"
        - name: check_out
          in: query
          description: "Date on which the guest will end their stay in the hotel."
          required: true
          type: string
          default: "2017-08-16"
        - name: lang
          in: query
          description: "The preferred language of the content related to each hotel. Content will be returned in this language if available."
          required: false
          type: string
          default: "EN"
        - name: currency
          in: query
          description: The preferred <a href="https://en.wikipedia.org/wiki/ISO_4217">currency</a> for the results
          required: false
          type: string
          default: "USD"
        - name: chain
          in: query
          description: "Narrows the hotel search to a given hotel provider. The hotel chain is indicated by the first two characters of the property code."
          required: false
          type: string
          default: "6C"
        - name: max_rate
          in: query
          description: "The maximum amount per night that any hotel in the shopping response should cost. This is calculated by dividing the total price of the stay for the given dates by the number of nights specified falling between the check_in and check_out dates."
          required: false
          type: number
          default: 500
        - name: number_of_results
          in: query
          description: "The maximum number of hotels to return in the results set. Hotels are ordered by total price, so if more than the given maximum number of hotels are available, only the cheapest options are returned."
          required: false
          type: integer
          default: 20
        - name: all_rooms
          in: query
          description: "This option if enabled will return all hotel room rates, not just the lowest room rate. Note: This will have an impact on the response time due to the larger messages returned."
          required: false
          type: boolean
          default: false
        - name: show_sold_out
          in: query
          description: This option if enabled will return hotel names and addresses even if rooms are sold out (closed properties)
          required: false
          type: boolean
          default: false
        - name: amenity
          in: query
          description: |
            Hotel <a href="hotels-api-supported-amenities-filter">amenities filter</a> to search narrow down hotels with certain amenities. For example&colon; amenity=POOL. (Note: multiple amenities can be used in searches: amenity=PARKING&amenity=RESTAURANT&amenity=PETS_ALLOWED).
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
      responses:
        200:
          description: Valid Search Response
          schema:
            $ref: "#/definitions/HotelSearchResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"
  /hotels/search-box:
    get:
      operationId: Hotel Geosearch by box
      summary: Hotel Geosearch by box - Locate the cheapest available rooms within a given rectangular region for a given stay period. It's ideal for displaying results on a map.
      description: |
        <p>A fast Hotel shopping API to see which hotels are available in a given area, on a given day and displays their lowest prices. With this API you can find out the price of the cheapest daily rate for all hotels within a specified geographical region.</p>
        
        <p>This API allows you to quickly see the hotel locations in a region, and what prices in that area look like,  as well as the check-in and check-out dates, and get a list of up to 140 properties (names, codes, image, amenities) with their locations and rates. Optional parameters such as currency and maximum rates, amenities or hotel chain codes are also available and can be used to narrow down the results. More optional parameters such as show_sold_out & rooms can be used to show sold out rooms and all available rooms.</p>
                    
        <p>The API is based on our high-speed hotel pricing cache, which is also used to power the <a href="https://hotelsearchengine.amadeus.com/">Amadeus Hotel Search Engine</a> application. Results are returned very quickly, response times are generally under 2s. Our cache has great global coverage and is constantly refreshed with the latest prices.</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: south_west_corner
          in: query
          description: The coordinates of the south-west corner of the search box.
          required: true
          type: string
          default: "38.8675,-77.1457"
        - name: north_east_corner
          in: query
          description: The coordinates of the north-east corner of the search box.
          required: true
          type: string
          default: "38.9072,-77.0632"
        - name: check_in
          in: query
          description: "Date on which the guest will begin their stay in the hotel. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date."
          required: true
          type: string
          default: "2017-08-15"
        - name: check_out
          in: query
          description: "Date on which the guest will end their stay in the hotel."
          required: true
          type: string
          default: "2017-08-16"
        - name: lang
          in: query
          description: "The preferred language of the content related to each hotel. Content will be returned in this language if available."
          required: false
          type: string
          default: "EN"
        - name: currency
          in: query
          description: The preferred <a href="https://en.wikipedia.org/wiki/ISO_4217">currency</a> for the results
          required: false
          type: string
          default: "USD"
        - name: chain
          in: query
          description: "Narrows the hotel search to a given hotel provider. The hotel chain is indicated by the first two characters of the property code."
          required: false
          type: string
          default: "6C"
        - name: max_rate
          in: query
          description: "The maximum amount per night that any hotel in the shopping response should cost. This is calculated by dividing the total price of the stay for the given dates by the number of nights specified falling between the check_in and check_out dates."
          required: false
          type: number
          default: 500
        - name: number_of_results
          in: query
          description: "The maximum number of hotels to return in the results set. Hotels are ordered by total price, so if more than the given maximum number of hotels are available, only the cheapest options are returned."
          required: false
          type: integer
          default: 20
        - name: all_rooms
          in: query
          description: "This option if enabled will return all hotel room rates, not just the lowest room rate. Note: This will have an impact on the response time due to the larger messages returned."
          required: false
          type: boolean
          default: false
        - name: show_sold_out
          in: query
          description: This option if enabled will return hotel names and addresses even if rooms are sold out (closed properties)
          required: false
          type: boolean
          default: false
        - name: amenity
          in: query
          description: |
            Hotel <a href="hotels-api-supported-amenities-filter">amenities filter</a> to search narrow down hotels with certain amenities. For example&colon; amenity=POOL. (Note: multiple amenities can be used in searches: amenity=PARKING&amenity=RESTAURANT&amenity=PETS_ALLOWED).
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
      responses:
        200:
          description: Valid Search Response
          schema:
            $ref: "#/definitions/HotelSearchResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"
  /hotels/{property_code}:
    get:
      operationId: Hotel Property Code Search   
      summary: Hotel Property Code Search - Find out more room and rate information once you have found your preferred hotel.
      description: |
        <p>This API allows you to quickly see the detailed information of a single hotel, including descriptions, address, GPS location, amenities, awards, lowest priced room and all room prices and booking information. </p>

        <p>This API gives you more information on a specific property. Optional parameters such as show_sold_out & rooms can be used to show sold out rooms and all available rooms. </p>
    
        <p>The API is based on our high-speed hotel pricing cache, which is also used to power the <a href="https://hotelsearchengine.amadeus.com/">Amadeus Hotel Search Engine</a> application. Results are returned very quickly, response times are generally under 2s. Our cache has great global coverage and is constantly refreshed with the latest prices.</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: property_code
          in: path
          description: A Hotel property code based on 2 letter chain code + 3 letter <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA code</a> of the city + 3 char property unique id.
          required: true
          type: string
          default: "BWDCA133"
        - name: check_in
          in: query
          description: "Date on which the guest will begin their stay in the hotel. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date."
          required: true
          type: string
          default: "2017-08-14"
        - name: check_out
          in: query
          description: "Date on which the guest will end their stay in the hotel."
          required: true
          type: string
          default: "2017-08-15"
        - name: lang
          in: query
          description: "The preferred language of the content related to each hotel. Content will be returned in this language if available."
          required: false
          type: string
          default: "EN"
        - name: currency
          in: query
          description: The preferred <a href="https://en.wikipedia.org/wiki/ISO_4217">currency</a> for the results
          required: false
          type: string
          default: "USD"
        - name: all_rooms
          in: query
          description: "This option if enabled will return all hotel room rates, not just the lowest room rate. Note: This will have an impact on the response time due to the larger messages returned."
          required: false
          type: boolean
          default: true
        - name: show_sold_out
          in: query
          description: This option if enabled will return hotel names and addresses even if rooms are sold out (closed properties)
          required: false
          type: boolean
          default: false
      responses:
        200:
          description: Valid Lookup Response
          schema:
            $ref: "#/definitions/HotelPropertyResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"
  /cars/search-airport:
    get:
      operationId: Car Rental Airport Search
      summary: Car Rental Airport Search - Find car rental providers and rates when you provide an airport code, as well as the pick-up and drop-off dates. Optional parameters such as currency and rental provider codes are also available and can be used to narrow down the results. This API is an ideal pairing with the flight and hotel search to provide ground transportation options at the destination.
      description: |
        <p>With this API you can find out the price and type of car, for all car rental providers, near a specified airport.</p>

        <p>You can quickly see the locations of car providers near a given airport, and what cars are available to rent, and at what prices. This API is based on our car pricing service that gets live availability from car providers, and is used to power a variety of airline and travel agency websites.</p>
                   
        <p>Results are validated from car providers, and thus response times may take up to 10 seconds (response times are typically about 5s), and the number of concurrent calls is throttled per user to avoid flooding our provider's systems. However, this means the final result is guaranteed to be live and accurate.</p>

        <p>The configuration of this API allows search for car rentals in the rental location where the car is picked up (at the start of the rental), is the same as the one where it will be dropped off.</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: location
          in: query
          description: The <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA code</a> of the airport at which the car will be rented.
          required: true
          type: string
          default: "NCE"
        - name: pick_up
          in: query
          description: "Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date."
          required: true
          type: string
          default: "2017-08-07"
        - name: drop_off
          in: query
          description: "Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used."
          required: true
          type: string
          default: "2017-08-08"
        - name: lang
          in: query
          description: "The preferred language of the content related to each car rental. Content will be returned in this language if available."
          required: false
          type: string
          default: "EN"
        - name: currency
          in: query
          description: The preferred <a href="https://en.wikipedia.org/wiki/ISO_4217">currency</a> to use when displaying prices and rates related to the car rental.
          required: false
          type: string
          default: "USD"
        - name: provider
          in: query
          description: "2 character car rental provider code. You may provide this parameter more than once. "
          required: false
          type: string
          default: "ZI"
        - name: rate_class
          in: query
          description: "Allows to request specific rate types."
          required: false
          type: string
          default: "ALL"
        - name: rate_plan
          in: query
          description: "Qualifies the rate depending on the pickup date and the rental duration."
          required: false
          type: string
          default: "DAILY"
        - name: rate_filter
          in: query
          description: "Defines the types of rates to be returned in the output"
          required: false
          type: string
          default: "ESTIMATED"
          enum: [AVAILABLE, ESTIMATED, ALL]
        - name: vehicle
          in: query
          description: "Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times."
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
      responses:
        200:
          description: Valid Search Response
          schema:
            $ref: "#/definitions/CarSearchResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"
  /cars/search-circle:
    get:
      operationId: Car Rental Geosearch
      summary: Car Rental Geosearch - Locate car rental providers and available vehicles when you define a circular area with one coordinate and radius, as well as the pick-up and drop-off dates. Optional parameters such as currency and rental provider codes are also available and can be used to narrow down the results. This API is an ideal pairing with the flight and hotel search to provide ground transportation options at the destination.
      description: | 
        <p>With this API you can find out the price and type of car, for all car rental providers, in a specified geographical location.</p>

        <p>You can quickly see the locations of car providers near a given point, and what cars are available to rent, and at what prices. This API is based on our car pricing service that gets live availability from car providers, and is used to power a variety of airline and travel agency websites.</p>
                   
        <p>Results are validated from car providers, and thus response times may take up to 10 seconds (response times are typically about 5s), and the number of concurrent calls is throttled per user to avoid flooding our provider's systems. However, this means the final result is guaranteed to be live and accurate.</p>

        <p>The configuration of this API allows search for car rentals in the rental location where the car is picked up (at the start of the rental), is the same as the one where it will be dropped off. </p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: latitude
          in: query
          description: Latitude of the center of the search.
          required: true
          type: number
          default: 35.1504
        - name: longitude
          in: query
          description: Longitude of the center of the search.
          required: true
          type: number
          default: -114.57632
        - name: radius
          in: query
          description: Radius around the center to look for hotels in kilometers (km).
          required: true
          type: integer
          default: 42
        - name: pick_up
          in: query
          description: "Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date."
          required: true
          type: string
          default: "2017-08-07"
        - name: drop_off
          in: query
          description: "Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used."
          required: true
          type: string
          default: "2017-08-08"
        - name: lang
          in: query
          description: "The preferred language of the content related to each car rental. Content will be returned in this language if available."
          required: false
          type: string
          default: "EN"
        - name: currency
          in: query
          description: The preferred <a href="https://en.wikipedia.org/wiki/ISO_4217">currency</a> to use when displaying prices and rates related to the car rental.
          required: false
          type: string
          default: "USD"
        - name: provider
          in: query
          description: "2 character car rental provider code. You may provide this parameter more than once. "
          required: false
          type: string
          default: "ZI"
        - name: rate_class
          in: query
          description: "Allows to request specific rate types."
          required: false
          type: string
          default: "ALL"
        - name: rate_plan
          in: query
          description: "Qualifies the rate depending on the pickup date and the rental duration."
          required: false
          type: string
          default: "DAILY"
        - name: rate_filter
          in: query
          description: "Defines the types of rates to be returned in the output"
          required: false
          type: string
          default: "ESTIMATED"
          enum: [AVAILABLE, ESTIMATED, ALL]
        - name: vehicle
          in: query
          description: "Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times."
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
      responses:
        200:
          description: Valid Search Response
          schema:
            $ref: "#/definitions/CarSearchResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"
  /rail-stations/autocomplete:
    get:
      operationId: Rail-Station Autocomplete
      summary: Rail Station Autocomplete - Transform user input into a unique rail station code. Currently only French and Italian stations are supported.
      description:  |
        <p>Given the start of any word in a rail station's official name, as a term, this API provides the full name and rail station ID of a rail station for use in searches. The response provides an array of up to 20 possible matches, sorted by passenger traffic, in a JQuery Autocomplete compatible format.</p>

        <p>The value returned is the UIC station code. The label returned is always in UTF-8 format, with the station's official name (which is often in the native language). Agglomeration station codes may also be returned.</p>

        <p>Note that only French and Italian rail stations are supported by the Rail Station Autocomplete API</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: term
          in: query
          description: Search term that should represent some part of a station name. Not case sensitive, may be blank.
          required: true
          type: string
          default: "Mi"
      responses:
        200:
          description: Valid Search Response
          schema:
            type: array
            items:
              $ref: "#/definitions/RailStationAutocompleteResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"
  /rail-station/{id}:
    get:
      operationId: Rail-Station Information
      summary: Rail-Station Information - Retrieve the rail station information corresponding to an Amadeus UIC rail station ID. Currently only French and Italian stations are supported.
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: id
          in: path
          description: Station ID for which further information is required.
          required: true
          type: string
          default: "8301700"
      responses:
        200:
          description: Valid Station Lookup Response
          schema:
            $ref: "#/definitions/RailStationResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"
  /trains/extensive-search:
    get:
      operationId: Train Extensive Search
      summary:  Train Extensive Search - Provides multi-day availability and a variety of schedule and pricing options to travel to your destination instantly. Supports SNCF French trains only.
      description:  |
        <p>This API allows you to search trains availability and prices for a single day or date range. It's based on our Rail Instant Search technology, providing you with immediate results from our rail search cache.</p>

        <p>This API has content from SNCF (French trains).</p>
                    
        <p>The content is also restricted to single-leg trips - where a single train takes you directly from the origin to the destination.</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: origin
          in: query
          description: Identifier of the rail station from which you would like to depart.
          required: true
          type: string
          default: "7171801"
        - name: destination
          in: query
          description:  Identifier of the rail station to which you would like to travel.
          required: true
          type: string
          default: "8768600"
        - name: departure_date
          in: query
          description: The date or range of dates on which you would like to depart from the origin station to go to the destination.
          required: true
          type: string
          default: "2017-04-25"
      responses:
        200:
          description: Valid Search Response
          schema:
            $ref: "#/definitions/ExtensiveTrainSearchResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"
  /trains/schedule-search:
    get:
      operationId: Train Schedule Search
      summary: Train Schedule Search - Suggest destinations from your chosen departure station. Supports SNCF French Rail only.
      description:  |
        <p>This API allows you to find all the possible destinations in the Rail Instant Search cache (used by Extensive Search above) from a given origin station on a given day. You can use this to help build network maps, journey planners or provide inspiration for rail travel.</p>

        <p>This API has continuous content from <a href="http://www.sncf.com/">SNCF</a>.<br />
        All the options returned are single-leg trips - where a single train takes you directly from the origin to the destination. In general, only departure dates up to 90 days in the future are supported</p>

        <p>Currently agglomeration stations are not supported</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: origin 
          in: query
          description: Identifier of the rail station where you would like to depart from.
          required: true
          type: string
          default: "7171801"
        - name: departure_date
          in: query
          description: The date on which you would like to depart from the origin station to go to the destination.
          required: true
          type: string
          format: date
          default: "2017-04-25"
      responses:
        200:
          description: Valid Search response
          schema:
            $ref: "#/definitions/TrainScheduleSearchResponse"
        default:
          description: Client or server error response
          schema:       
            $ref: "#/definitions/Error"
  /travel-record/{record_locator}:
    get:
      operationId: Travel Record Retrieve
      summary: "Travel Record Retrieve - Enable travelers to explore the details of their journeys stored in the Amadeus system using our Retrieve Travel Record API."
      description: |
        <p>Note: This API requires the use of HTTPS</p>

        <p>This service retrieves a travel record (also sometimes referred to as a PNR) for a given journey when provided with Record Locator to identify a travel record, along with the last name of any traveler who is marked as a passenger on this record.</p>

        <p>The API provides detailed information on a given record, including any air, car, hotel or rail reservations, as well as passenger details, and contact frequent traveler information for each passenger when available. You can use this to provide a wide variety of pre-trip or in-trip services.</p>

        <p>Note that this API transmits sensitive personal data about a traveler's journey. We work hard to ensure that we comply with all the legal requirements this entails, and as an application owner, you need to do so too - we don't want you to get in trouble! This paragraph, or anything else in our documentation, does not constitute legal advice, it's just to give you an idea of some of the potential issues that you may encounter. Please check your legal obligations regarding the use of this data before implementing this API</p>

        <p>In most countries, the data in the returned travel record is considered to be the property of the traveler. In order to ensure that you are acting on behalf of the traveler, we require you to provide the traveler's last name in addition to the record locator when you make a call to this API. You should ensure that you have consent from the traveler before retrieving this record, in some countries this is a legal requirement - please respect this appropriately.</p>

        <p>Our data center is based in Europe, so there is a legal requirement that you to access this API over a secure connection. If you plan to store the information returned by this API, ensure you comply with storage requirements for European data, in addition to those of your local country. For example, there are strict requirements on the caching of retrieved travel records, so please ensure the cache control HTTP headers in the response are respected.</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: record_locator 
          in: path
          description: The Amadeus identifier of the given travel record. Usually printed at the top of an itinerary or boarding pass.
          required: true
          type: string
          default: "YB8SPK"
        - name: last_name
          in: query
          description: The last name of any traveler in this record, as written on their identification used for travel. This is required to ensure that applications retrieving the record are acting on behalf of the customer.
          required: true
          type: string
          default: "LOPEZ"
        - name: env
          in: query
          description: Indicates the Amadeus system from which this record should be retrieved.
          type: string
          default: "TEST"
      responses:
        200:
          description: Valid Travel Record
          schema:
            $ref: "#/definitions/TravelRecordResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"
  /travel-intelligence/top-destinations:
    get:
      operationId: Top Flight Destinations
      summary: Top Flight Destinations - Find the most popular flight destinations from an origin during a period. This can help you answer questions like "Where are most people going to from Paris during the month of September?" 
      description: |
        <p>The Top Flight Destinations API lets you find the most popular flight destinations from an origin during a period. This can help you answer questions like "Where are most people from Paris going to during the month of September?" The API is based on estimated flight traffic summary data from two journey points over a specific period. It returns up to 50 results, ordered by popularity, showing number of travelers as well as number of flights.</p>
       
        <p>This estimated search is based on Amadeus' Travel Intelligence Engine, a high performance scalable cloud-based platform, born in the age of Big Data and purposely built for the industry bringing total flexibility and speed to business intelligence for travel. Please see <a href="http://www.amadeus.com/travelintelligence">amadeus.com/travelintelligence</a> for more information.</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: period
          in: query
          description: "Period, in month of the year (YYYY-MM), when consumers are traveling. Only periods from 2011-01 up to previous month of the current year are valid. Future dates are not supported."
          required: true
          type: string
          default: "2016-09"
        - name: origin
          in: query
          description: <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA code</a> of the city from which the traveler will depart. 
          required: true
          type: string
          default: "BOS"
        - name: number_of_results
          in: query
          description: "The maximum number of destinations to return in the results set. Destinations are ordered by number of travelers. The maximum number of destinations returned is 50"
          required: false
          type: integer
          default: 10
      responses:
        200:
          description: Valid Search Response
          schema:
            $ref: "#/definitions/TopDestinationsSearchResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"
  /travel-intelligence/top-searches:
    get:
      operationId: Top Flight Searches
      summary: Top Flight Searches - Find the most popular flight searches from an origin in a during given search period. This can help you answer questions like "Where are people looking to travel from Paris during the month of September?" 
      description: |
          <p>The Top Flight Search allows you to find number of estimated searches from an origin, optionally a destination, within a time period when travelers are performing the searches.</p> 
          <p>The search is based on queries performed from within a country (also refers to as market) and returns up to 50 results, ordered by popularity, showing number of searches for most searched destination with its previous year comparison. This search also shows patterns on how travelers are searching for flights, revealing where, when and for how long they’re planning to travel. See
          <ul><li>Trip Durations(How long are the trips planned for?) and</li>
          <li> Advance Search Period (How long before departures do travelers start searching for their trips?)</li>
          </ul></p>
          <p>This estimated search is based on Amadeus' Travel Intelligence Engine, a high performance scalable cloud-based platform, born in the age of Big Data and purposely built for the industry bringing total flexibility and speed to business intelligence for travel. Please see <a href="http://www.amadeus.com/travelintelligence">amadeus.com/travelintelligence</a> for more information.</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: period
          in: query
          description: "Period of date (month or year) when consumers are searching to travel. Use YYYY-MM for month or YYYY for year. Only periods from year 2011-01 up to current year, previous month are valid. Future dates are not supported."
          required: true
          type: string
          default: "2016-09"
        - name: origin
          in: query
          description: <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA code</a> of the city from which the traveler will depart. 
          required: true
          type: string
          default: "BOS"
        - name: destination
          in: query
          description: <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA code</a> of the city to which the traveler is going
          required: false
          type: string
          default: "LON"
        - name: country
          in: query
          description: "2-letter IATA country code of the country where the search queries originates from."
          required: true
          type: string
          default: "US"
        - name: number_of_results
          in: query
          description: "The maximum number of destinations to return in the results set. Destinations are ordered by number of searches. The maximum number of destinations returned is 50"
          required: false
          type: integer
          default: 10
      responses:
        200:
          description: Valid Search Response
          schema:
            $ref: "#/definitions/TopSearchesSearchResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"
  /travel-intelligence/flight-traffic:
    get:
      operationId: Flight Traffic API
      summary: Flight Traffic API - Find the true origin and destination traffic summary between two journey points over a specified period. This can help you answer questions like "What cities are people coming from to visit Los Angeles between January through April of 2015" 
      description: |
        <p>The Flight Traffic API lets you find the origin and destination traffic summary between two journey points over a specified period.</p>
        <p>The search returns number of flights & travelers for each origin and destination, ordered by popularity, for each month specified within the search period. This search can help you answer questions like "Where are people from Los Angeles traveling to between January and April of 2015?" or "Which is the most popular month for New Yorkers to travel last year?". </p>
        <p>This search is based on Amadeus' Travel Intelligence Engine, a high performance scalable cloud-based platform, born in the age of Big Data and purposely built for the industry bringing total flexibility and speed to business intelligence for travel. Please see <a href="http://www.amadeus.com/travelintelligence">amadeus.com/travelintelligence</a> for more information.</p>
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: period
          in: query
          description: "Range of periods for which flight traffic information is required. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single period is specified, only that period will be displayed. Only periods from 2011-01 up to previous month of the current year are valid. Future periods are not supported."
          required: true
          type: string
          default: "2014-09--2014-10"
        - name: origin
          in: query
          description: <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA code</a> of the city from which the traveler will depart. 
          required: true
          type: string
          default: "BOS"
        - name: destination
          in: query
          description: <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA code</a> of the city to which the traveler is going. 
          required: false
          type: string
          default: "LAX"
        - name: number_of_results_per_period
          in: query
          description: "The maximum number of destinations to return for each period. Destinations are ordered by dates and number of travelers. The maximum number of destinations per period returned is 50"
          required: false
          type: integer
          default: 5
      responses:
        200:
          description: Valid Search Response
          schema:
            type: array
            items:
              $ref: "#/definitions/FlightTrafficSearchResult"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"
  /points-of-interest/yapq-search-text:
    get:
      operationId: YapQ City Name Search
      summary: YapQ City Name Search - Find landmarks and attractions in a given city.
      description: |
         Amadeus has partnered with <a href="http://yapq.io/">YapQ</a> to bring you point of interest APIs with the goal of offering you unbiased ratings of landmarks and tourist attractions. YapQ rates these points according to their interest on social media and provides Wikipedia content and Geonames ID in a given city. <br />
         YapQ's service indexes millions of points around the world, and provides content in 12 different languages. This allows you to ensure you catch the <em>must-see</em> sights in a <a href="http://yapq.io/cities.html">YapQ supported city</a>.<br />
         Each point of interest comes with links to content, grading information, location and directions to help make discovering your destination easy and fun.<br /><br />
         This service is still under active development, and the response format may change without warning. We'd be interested in your feedback - <a href="mailto:sandbox@yapq.com">send us an email</a>.
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: city_name
          in: query
          description: The name of the <a href="http://yapq.io/cities.txt">supported city</a> for which you are searching, in the selected language. 
          required: true
          type: string
          default: "Tel Aviv"
        - name: lang
          in: query
          description: The preferred language of the content related to each point of interest. Content will be returned in this language if available
          required: false
          type: string
          enum: [DE, EN, ES, FR, HE, IT, JA, KO, NL, PL, RU, ZH]
          default: "EN"
        - name: category
          in: query
          description: Filters the resulting points_of_interest to include only results which have a least one category containing the given provided word. Good examples are <em>museum</em>, <em>landmark</em> or <em>church</em>
          required: false
          type: string
          default: "Museum"
        - name: geonames
          in: query
          description: Setting this to true includes only points of interest with a geonames ID
          required: false
          type: boolean
          default: false
        - name: vibes
          in: query
          description: Includes content that doesn't correspond to an active physical place, but which gives the user some background information, or <em>vibe</em> for the place they are visiting. An example of this may be information on an influential demolished building that used to exist at a certain location, or more information on a district of the city
          required: false
          type: boolean
          default: false
        - name: social_media
          in: query
          description: Enabling this includes images from Instagram in the output results. This is disabled by default, since these images are often just pictures of people or food, which often have little relevance to the actual location
          required: false
          type: boolean
          default: false
        - name: image_size
          in: query
          description: The size of the images you'd like to see in the response
          required: false
          type: string
          enum: [SMALL, MEDIUM, LARGE, HD]
          default: MEDIUM
        - name: number_of_images
          in: query
          description: Number of images to display
          required: false
          type: integer
          default: 4
        - name: number_of_results
          in: query
          description: "The maximum number of points of interest to return in the results set. This is a range from 1 to 100"
          required: false
          type: integer
          default: 20
      responses:
        200:
          description: Valid Points of Interest Response from YapQ
          schema:
            $ref: "#/definitions/PointsOfInterestResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"

  /points-of-interest/yapq-search-circle:
    get:
      operationId: YapQ Geosearch
      summary: YapQ Geosearch - Find landmarks and attractions near a given point.
      description: |
         Amadeus has partnered with <a href="http://yapq.io/">YapQ</a> to bring you point of interest APIs with the goal of offering you unbiased ratings of landmarks and tourist attractions. YapQ rates places according to their interest on social media and provides Wikipedia content and Geonames ID at a given location. <br />
         YapQ's service indexes millions of points around the world, and provides content in 12 different languages. This allows you to ensure you catch the <em>must-see</em> sights at a specific <a href="http://yapq.io/cities.html">YapQ supported location</a>.<br />
         Each point of interest comes with links to content, grading information, location and directions to help make discovering your destination easy and fun.<br /><br />
         This service is still under active development, and the response format may change without warning. We'd be interested in your feedback - <a href="mailto:sandbox@yapq.com">send us an email</a>.
      parameters:
        - name: apikey
          in: query
          description: API Key provided for your account, to identify you for API access. Make sure to keep this API key secret.
          required: true
          type: string
        - name: latitude
          in: query
          description: Latitude of the center of the search, in decimal degrees
          required: true
          type: number
          default: 35.1504
        - name: longitude
          in: query
          description: Longitude of the center of the search, in decimal degrees
          required: true
          type: number
          default: -114.57632
        - name: radius
          in: query
          description: Radius around the center to look for points-of-interest around the given latitude and longitude in kilometers (km)
          required: true
          type: integer
          default: 42
        - name: lang
          in: query
          description: The preferred language of the content related to each point of interest. Content will be returned in this language if available
          required: false
          type: string
          enum: [DE, EN, ES, FR, HE, IT, JA, KO, NL, PL, RU, ZH]
          default: "EN"
        - name: category
          in: query
          description: Filters the resulting points_of_interest to include only results which have a least one category containing the given provided word. Good examples are <em>museum</em>, <em>landmark</em> or <em>church</em>
          required: false
          type: string
          default: "Museum"
        - name: geonames
          in: query
          description: Setting this to true includes only points of interest with a geonames ID
          required: false
          type: boolean
          default: false
        - name: vibes
          in: query
          description: Includes content that doesn't correspond to an active physical place, but which gives the user some background information, or <em>vibe</em> for the place they are visiting. An example of this may be information on an influential demolished building that used to exist at a certain location, or more information on a district of the city
          required: false
          type: boolean
          default: false
        - name: social_media
          in: query
          description: Enabling this includes images from Instagram in the output results. This is disabled by default, since these images are often just pictures of people or food, which often have little relevance to the actual location
          required: false
          type: boolean
          default: false
        - name: image_size
          in: query
          description: The size of the images you'd like to see in the response
          required: false
          type: string
          enum: [SMALL, MEDIUM, LARGE, HD]
          default: MEDIUM
        - name: number_of_images
          in: query
          description: Number of images to display.
          required: false
          type: integer
          default: 4
        - name: number_of_results
          in: query
          description: "The maximum number of points of interest to return in the results set. This is a range from 1 to 100"
          required: false
          type: integer
          default: 20
      responses:
        200:
          description: Valid Points of Interest Response from YapQ
          schema:
            $ref: "#/definitions/PointsOfInterestResponse"
        default:
          description: Client or server error
          schema:
            $ref: "#/definitions/Error"

definitions:
  Error:
    required:
      - status
      - message
    properties:
      status:
        type: integer
      message:
        type: string
      more_info:
        type: string
  ExtremeSearchResponse:
    required:
      - origin
      - currency
      - results
    properties:
      origin:
        type: string
        description: <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA code</a>
      currency:
        type: string
        description: <a href="http://en.wikipedia.org/wiki/ISO_4217">ISO 4217</a> currency code.
      results:
        type: array
        items:
          $ref: "#/definitions/ExtremeSearchResult"
  ExtremeSearchResult:
     required:
        - destination
        - price
     properties:
      destination:
        type: string
        description: The <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA code</a> of the city or airport to which the traveler may go, from the provided origin
      departure_date:
        type: string
        format: date
        description: The date departure at the origin, in <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</a> date format yyyy-MM-dd, to go to the above destination
      return_date:
        type: string
        format: date
        description: The date at which the flight from the destination to the origin will depart from the destination. The date is in <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</a> date format yyyy-MM-dd, in the local date of the origin. This field will not be present in the response if the one-way request parameter is set to true.
      price:
        type: string
        description: "The minimum total price for one adult passenger for a round trip from the origin to the destination and back. Always a string, formatted correctly for the provided currency"
      airline:
        type: string
        description: The 2 character alphanumeric <a href="https://en.wikipedia.org/wiki/Airline_codes">IATA airline code</a> of the airline that is responsible for selling the traveler this flight - also known as the Validating Carrier. Airlines are specified using <a href="https://en.wikipedia.org/wiki/Airline_codes"><a href="https://en.wikipedia.org/wiki/Airline_codes">IATA airline code</a>s</a>
  LowFareSearchResponse:
     required:
        - currency
     properties:
      currency:
        type: string
        description: <a href="http://en.wikipedia.org/wiki/ISO_4217">ISO 4217</a> currency code.
      results:
        type: array
        items:
          $ref: "#/definitions/LowFareSearchResult"
  LowFareSearchResult:
     required:
        - fare
     properties:
      itineraries:
        type: array
        items:
          $ref: "#/definitions/FlightSearchItinerary"
      fare:
        description: "The price and fare information which applies to all itineraries in this response"
        $ref: "#/definitions/FlightSearchPrice"     
  FlightSearchItinerary:
     required:
        - outbound
     properties:
      outbound:
        description: "The bound container for the flight information for bringing the traveler from the origin airport to the destination airport"
        $ref: "#/definitions/FlightSearchBound"
      inbound:
        description: "The bound container for the flight information for bringing the traveler from the destination airport to the origin airport"
        $ref: "#/definitions/FlightSearchBound"
  FlightSearchBound:
     required:
        - flights
     properties:
      flights:
        type: array
        items:
          $ref: "#/definitions/FlightSearchSegment"
      duration:
        type: string
        description: "The duration of this bound, including layover time, expressed in the format hh:mm"
  FlightSearchSegment:
     required:
        - departs_at
        - arrives_at
        - origin
        - destination
        - marketing_airline
        - operating_airline
        - flight_number
        - booking_info
     properties:
      departs_at:
        type: string
        description: Date and time of departure at the origin, in <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</a>  date format yyyy-MM-ddTHH:mm in the local time at the origin airport
      arrives_at:
        type: string
        description: Date and time of departure at the destination, in <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</a>  date format yyyy-MM-ddTHH:mm in the local time at the destination airport
      origin:
        description: "Information on the origin airport, from which this flight departs"
        $ref: "#/definitions/Airport"
      destination:
        description: "Information on the destination airport, at which this flight arrives"
        $ref: "#/definitions/Airport"       
      marketing_airline:
        type: string
        description: The 2 character alphanumeric <a href="https://en.wikipedia.org/wiki/Airline_codes">IATA airline code</a> of the airline that is responsible for the traveller this flight 
      operating_airline:
        type: string
        description: The 2 character alphanumeric <a href="https://en.wikipedia.org/wiki/Airline_codes">IATA airline code</a> of the airline that is providing the aircraft for this flight. Note that in the USA, if the marketing and operating carrier are different, you are legally required to display this in your application.
      flight_number:
        type: string
        description: "The identifier that the airline uses for this flight route. This is most commonly - but not always - a number. When combined with the airline and date, it identifies an individual aircraft's flight"
      aircraft:
        type: string
        description: The <a href="http://www.jacanaent.com/JacTechLib/07Aviation/AircraftTypeCodes.txt">IATA aircraft type designator</a> of aircraft that will be used for this flight
      booking_info:
        description: "A booking information object with additional details about how the quality of this flight at the given price."
        $ref: "#/definitions/FlightSearchBookingInfo"
  Airport:
     required:
        - airport
     properties:
      airport:
        type: string
        description: The 3 character <a href="https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code">IATA airport code</a> of the airport in question for this flight
      terminal:
        type: string
        description: "The terminal identifier at which this flight will arrive or depart in the given airport"
  FlightSearchBookingInfo:
     required:
        - travel_class
        - booking_code
        - seats_remaining
     properties:
      travel_class:
        type: string
        description: The cabin class offered on this flight. An enumeration that will read either ECONOMY, PREMIUM_ECONOMY, BUSINESS or FIRST
      cabin_code:
        type: string
        description: A single character encoding of the travel_class, generally only available on responses from affiliates.
      booking_code:
        type: string
        description: "The Reservation Booking Designator code that determines the quality and terms of the flight offered for the given price. A single letter from A..Z"
      seats_remaining:
        type: string
        description: "The minimum number of seats that are still available for this price at the time of search. If the value is a 4 or above, there are often more than this number of seats still available."
      fare_family:
        type: string
        description: Enumeration of the type of fare which this airline is providing, eg. VALUE. This is generally only available for affiliate responses.
      fare_basis:
        type: string
        description: See https://en.wikipedia.org/wiki/Fare_basis_code for the fare being offered.
[...]
